*{  /* selector grl */

    box-sizing: border-box;

}

html{

    scroll-behavior: smooth;   /* comportamiento del scroll */

}   /* selector html */


body{

    margin: 0;
    font-family: Arial, Helvetica, sans-serif;  /* indicamos la tipografia que queremos */
    line-height: 1.6;  /* interlineadao */
    color: black;
    background-color: #ffffff;

}


/* ENCABEZADO */

header{
text-align: center; /* alineacion de texto */
padding: 50px 20px; /* margen interno arriba y abajo 50px y derecha e izquierda 20px*/
background-color: black; /* color de fondo */
color: white; /* color de texto */
}

header h1{

    margin: 0;
    font-size: 48px;

}

header p{   /* modificacion del parrfo del header */
    margin-top: 10px;
    font-size: 22px;
    font-style: italic ;
}

/* navegacion */
 nav{
    display: flex; /* Para indicar la distribucion  */
    justify-content: center; /* distribucion de los enlaces */
    gap:25px; /* espacio entre los enlaces */
    padding: 20px; /* margen interno  */
    background-color: #dad8d8;
    border-bottom: 1px solid #000000;
}

 nav a{  /* modificar enalces  */
    text-decoration: none; /* sin decoracion */
    color: rgb(17, 10, 231);
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
 }

 nav a:hover{  /* cuando pasas el mouse  */
    background-color: #555; /* color de fondo  */
    border-radius: 5px; /* radio de borde  */
    text-decoration: underline;
 }


 /* Contenido principal section */

 main{
    max-width: 1100px;
    margin:0 auto;
    background-color: antiquewhite;
 }

 /* secciones */

 section {
    padding: 60px 40px;
    border-bottom: 1px solid #ddd; /* separacion entre secciones */
 } 

 section h2{
    margin-top: 0;
    margin-bottom: 30px ;
    text-align: center;
    font-size: 30px;
 }


 /* seccion inicio */


 .seccion-inicio{
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

.seccion-contenido {
max-width: 700px;
}

.seccion-contenido h2{
font-size: 42px;
margin-bottom: 15px;
}

.seccion-contenido p{
font-size: 20px;
margin-bottom: 30px;
}

.boton,button{

display: inline-block;
padding: 12px 25px;
border: none;
border-radius: 5px;
background-color: #000000;
color: #dad8d8;  /* todos los botones estandarizados gracias al ",button" */
text-decoration: none;
font-size: 16px;
cursor: pointer;

}

.boton:hover,button:hover{
    background-color: rgb(10, 149, 133);   /* cuando pasas el mouse cambia el color */
    color: #000000;
}

.sobre-mi-contenido{

display: flex;
align-items: center;
gap: 40px;
max-width: 800px;
margin: 0 auto;
}


.sobre-mi-contenido img{
width: 200px;
height: 200px;
border-radius: 50%; /* redondear imagen  */
box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* sombra  */
object-fit: cover;
}

.sobre-mi-contenido p{
font-size: 18px;
}


.lista-habilidades{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
    list-style-type: none;
}

.lista-habilidades li{
    padding: 12px 20px;
    background-color: rgb(235, 240, 239);
    border: 3px solid;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bold;

}


.contenedor-proyectos{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.proyecto{
    flex: 1;
    min-width: 280px;
    padding: 25px;
    border: 1px solid #555;
    border-radius: 8px;
    background-color: #dad8d8;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.proyecto h3{
    margin-top: 0;
    font-size: 22px;

}

.proyecto a{
    color: rgb(14, 67, 212);
    font-weight: bolder;
    
}